@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

.ToDoContainer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ToDoTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ToDoTitle {
    font-size: 40px;
}

.TodoTasksContainer {
    max-height: 80vh;
    overflow: scroll
}

.ToDoMakeATask,
.TodoTasks {
    height: 5vh;
    width: 60vw;
    background-color: rgb(31, 158, 147);
    display: flex;
    align-items: center;
    justify-content: center;
}

.TodoTasks {
    border-top: 3px solid #fff; 
}

.ToDoMakeATask {
    border-top: 3px solid #ffffff;
    margin-top: 10px;
}

.ToDoMakeATaskInput,
.TodoTasksItem {
    width: 90%;
    height: 5vh;
    border: none;
    background-color: rgb(31, 158, 147);
    outline:none;
    color: #fff;
    padding-left: 3%;
 
}

.TodoTasksItem {
    display: flex;
    align-items: center;
}

.ToDoMakeATaskInput.hover,
.ToDoMakeATaskInput.active {
    border: none;
}

.ToDoMakeATaskButton,
.TodoTasksItemButton {
    background-color: rgb(31, 158, 147);
    height: 100%;
    width: 10%;
    border: none;
    color: #fff;
    border-left: 3px solid #fff;
    cursor: pointer;
}




